/* ---------- MODO CLARO (por defecto) ---------- */
#educacion {
  background: white;
  color: #1e2a38;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: background 0.4s, color 0.4s, border-color 0.4s; /* transición suave */
}

#educacion h2 {
  color: #2c3e50;
  border-left: 6px solid #3498db;
  padding-left: 12px;
  font-size: 22px;
  margin-bottom: 15px;
  transition: color 0.4s, border-color 0.4s; /* transición de títulos */
}

/* Tabla */
#educacion th, #educacion td {
  transition: background 0.4s, color 0.4s;
}

#educacion tr:hover td {
  background: #f1faff;
  transition: background 0.4s;
}

/* ---------- MODO OSCURO ---------- */
:host-context(.dark-mode) #educacion {
  background: #2c3e50;
  color: #f1f1f1;
}

:host-context(.dark-mode) #educacion h2 {
  color: #f1c40f;
  border-left-color: #f1c40f;
}

:host-context(.dark-mode) #educacion th {
  background: #34495e;
  color: white;
}

:host-context(.dark-mode) #educacion tr:hover td {
  background: #3d566e;
}
